.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: fixed;
}

div.logo {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.imglogo {
    width: 40px;
}

a {
    display: flex;
    gap: 10px;
}

.a_logo, .ul_nav {
    margin: 0 80px;
    white-space: nowrap;
}

li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0.7rem;

}

li:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 60px;
    cursor: pointer;
}

.ul_nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}
@media (max-width: 958px) {
    .ul_nav {
        display: none;
    }
}